body {
  font: 13.34px "Helvetica Neue", Helvetica, arial, freesans, clean, YuGothic, sans-serif;
  font-weight: 300;
}
.floating {
  float: left;
  width: 33%;
}
.clearfloat {
  clear: both;
}
.markdown-body ul ul {
  margin: 5px 0;
}
