doctype html
html
  head
    block head
      block title
        title= title ? title + " - " + site.name : site.name
        link(rel="stylesheet" href="/wiki/assets/vendor/gollum/css/gollum.css")
        link(rel="stylesheet" href="/wiki/assets/vendor/gollum/css/template.css")
        link(rel="stylesheet" href="/wiki/assets/vendor/gollum/css/custom.css")
        link(rel="stylesheet" href="/wiki/assets/vendor/prism.css")
        link(rel="stylesheet" href="/wiki/assets/app.css")
  body
    block body
      block main

    script(src="//typesquare.com/accessor/script/typesquare.js?MF1TP6ShPfg%3D" charset="utf-8")
