doctype html
html
  head
    block head
      block title
        title= title ? title + " - " + site.name : site.name
      meta(charset="UTF-8")
      link(rel="stylesheet" href="/wiki/assets/vendor/gollum/css/gollum.css")
      link(rel="stylesheet" href="/wiki/assets/vendor/gollum/css/template.css")
      link(rel="stylesheet" href="/wiki/assets/vendor/gollum/css/custom.css")
      link(rel="stylesheet" href="/wiki/assets/vendor/prism.css")
      link(rel="stylesheet" href="/wiki/assets/app.css")
  body
    block body
      block main

    script(src="//typesquare.com/accessor/script/typesquare.js?MF1TP6ShPfg%3D" charset="utf-8")
    //- Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-37634759-2', 'auto');
      ga('send', 'pageview');
