---
layout: index.jade
---

.showcase
  .colmn
    h4 Web
    ul
      li
        a(href="/wiki/webfrontend/") Web Front-End
      li
        a(href="/wiki/frontendworkflow/") Front-End Workflow
      li
        a(href="/wiki/nodejs/") Node.js
      li
        a(href="/wiki/browser/") Browser
      li
        a(href="/wiki/webarchitecture/") Web Architecture
      li
        a(href="/wiki/websecurity/") Web Security
      li
        a(href="/wiki/html/") HTML
      li
        a(href="/wiki/css/") CSS
      li
        a(href="/wiki/sass/") Sass
      li
        a(href="/wiki/twitterbootstrap/") Bootstrap
      li
        a(href="/wiki/bookmarklet/") Bookmarklet
      li
        a(href="/wiki/svg/") SVG
      li
        a(href="/wiki/actionscript/") ActionScript, Flash
      li
        a(href="/wiki/webrtc/") WebRTC

    h4 JavaScript
    ul
      li
        a(href="/wiki/javascript/") JavaScript
      li
        a(href="/wiki/js-framework/") JS Framework
      li
        a(href="/wiki/angularjs/") AngularJS
      li
        a(href="/wiki/polymer/") Polymer
      li
        a(href="/wiki/react/") React
      li
        a(href="/wiki/jquery/") jQuery
      li
        a(href="/wiki/d3js/") D3.js
      li
        a(href="/wiki/phaser/") Phaser
      li
        a(href="/wiki/threejs/") Three.js
      li
        a(href="/wiki/js-library/") 気になるJSライブラリ

    h4 Software
    ul
      li
        a(href="/wiki/electron/") Electron
      li
        a(href="/wiki/phantomjs/") PhantomJS
      li
        a(href="/wiki/gollum/") Gollum
      li
        a(href="/wiki/redmine/") Redmine
      li
        a(href="/wiki/imagemagick/") ImageMagick
      li
        a(href="/wiki/thinreports/") ThinReports

  .colmn
    h4 DevOps
    ul
      li
        a(href="/wiki/chef/") Chef
      li
        a(href="/wiki/vagrant/") Vagrant
      li
        a(href="/wiki/docker/") Docker
      li
        a(href="/wiki/logmanagement/") LogManagement
      li
        a(href="/wiki/ci/") CI

    h4 Database
    ul
      li
        a(href="/wiki/oracle/") Oracle
      li
        a(href="/wiki/activerecord/") ActiveRecord
      li
        a(href="/wiki/mongodb/") MongoDB

    h4 WebApp Framework
    ul
      li
        a(href="/wiki/rails/") Rails
      li
        a(href="/wiki/sinatra/") Sinatra

    h4 Static Site Generator
    ul
      li
        a(href="/wiki/static-site-generator/") Static Site Generator
      li
        a(href="/wiki/middleman/") Middleman

    h4 Cloud Platform
    ul
      li
        a(href="/wiki/aws/") AWS
      li
        a(href="/wiki/heroku/") Heroku

    h4 Server
    ul
      li
        a(href="/wiki/nginx/") Nginx
      li
        a(href="/wiki/squid-proxy/") Squid (Proxy)

  .colmn
    h4 System
    ul
      li
        a(href="/wiki/engineering/") Engineering
      li
        a(href="/wiki/auth/") 認証

    h4 Code
    ul
      li
        a(href="/wiki/code/") Code
      li
        a(href="/wiki/ruby/") Ruby
      li
        a(href="/wiki/ruby-gem/") Gem
      li
        a(href="/wiki/java/") Java
      li
        a(href="/wiki/java-library/") Java Library
      li
        a(href="/wiki/apache-poi/") Apache POI
      li
        a(href="/wiki/scala/") Scala
      li
        a(href="/wiki/swift/") Swift
      li
        a(href="/wiki/elixir/") Elixir
      li
        a(href="/wiki/vba/") VBA
      li
        a(href="/wiki/vbscript/") VBScript
      li
        a(href="/wiki/regexp/") 正規表現
      li
        a(href="/wiki/git/") Git
      li
        a(href="/wiki/github/") GitHub
      li
        a(href="/wiki/test/") Test

    h4 Shell
    ul
      li
        a(href="/wiki/shell/") Shell
      li
        a(href="/wiki/unix-command/") UNIXコマンド
      li
        a(href="/wiki/zsh/") zsh
      li
        a(href="/wiki/tmux/") tmux

    h4 Editor
    ul
      li
        a(href="/wiki/texteditor/") テキストエディタ
      li
        a(href="/wiki/vim/") Vim
      li
        a(href="/wiki/sublimetext/") SublimeText
      li
        a(href="/wiki/sakura-editor/") サクラエディタ

  .colmn
    h4 Windows
    ul
      li
        a(href="/wiki/windows/") Windows
      li
        a(href="/wiki/windows7-app/") Windows 7 - app
      li
        a(href="/wiki/windows-dev/") Windows Dev
      li
        a(href="/wiki/autohotkey/") AutoHotKey
      li
        a(href="/wiki/excel/") Excel
      li
        a(href="/wiki/command-prompt/") Command Prompt
      li
        a(href="/wiki/cygwin/") Cygwin
      li
        a(href="/wiki/win32ole/") WIN32OLE
      li
        a(href="/wiki/win32api/") Win32API

    h4 Apple
    ul
      li
        a(href="/wiki/osx/") OS X
      li
        a(href="/wiki/mac-app/") Mac App
      li
        a(href="/wiki/ios/") iOS
      li
        a(href="/wiki/ios-app/") iOS App

    h4 Linux
    ul
      li
        a(href="/wiki/ubuntu/") Ubuntu
      li
        a(href="/wiki/centos/") CentOS

    h4 Hardware
    ul
      li
        a(href="/wiki/hardware/") Hardware
      li
        a(href="/wiki/arduino/") Arduino
      li
        a(href="/wiki/ergodox/") ErgoDox

    h4 Management
    ul
      li
        a(href="/wiki/management/") Management

hr.clearfloat

.floating
  h3
    a(class="anchor" id="Creation" href="#Creation")
      i.fa.fa-link
    | Creation
  ul
    li
      a(href="/wiki/creation/") Creation
    li
      a(href="/wiki/generator/") Generator
    li
      a(href="/wiki/game/") Game
  h3
    a(class="anchor" id="Design" href="#Design")
      i.fa.fa-link
    | Design
  ul
    li
      a(href="/wiki/design/") Design
    li
      a(href="/wiki/ui/") UI
    li
      a(href="/wiki/font/") Font
    li
      a(href="/wiki/wallpaper/") Wallpaper
    li
      a(href="/wiki/business-form/") 帳票
    li
      a(href="/wiki/quartzcomposer/") QuartzComposer
  h3
    a(class="anchor" id="Sounds" href="#Sounds")
      i.fa.fa-link
    | Sounds
  ul
    li
      a(href="/wiki/audio/") Audio
    li
      a(href="/wiki/music/") Music
    li
      a(href="/wiki/soundeffect/") 効果音
    li
      a(href="/wiki/midi/") MIDI

.floating
  h3
    a(class="anchor" id="Life" href="#Life")
      i.fa.fa-link
    | Life
  ul
    li
      a(href="/wiki/life/") Life
    li
      a(href="/wiki/ebook/") 電子書籍
    li
      a(href="/wiki/webservice/") Webサービス
    li
      a(href="/wiki/webapi/") Web API
    li
      a(href="/wiki/bgm/") 作業用BGM
    li
      a(href="/wiki/seminar/") 勉強会・セミナー
    li
      a(href="/wiki/torne/") torne
  h4
    a(class="anchor" id="バックアップ" href="#バックアップ")
      i.fa.fa-link
    | バックアップ
  ul
    li
      a(href="/wiki/backup/") BackUp
    li
      a(href="/wiki/mediawiki/") MediaWiki
