---
title: syon/wiki
layout: index.jade
---

.container
  .blankslate
    span.mega-octicon.octicon-git-commit
    span.mega-octicon.octicon-tag
    span.mega-octicon.octicon-git-branch
    h3 This is a blank slate
    p Use it to provide information when no dynamic content exists.
